<?xml version='1.0' encoding='utf-8'?>
<robot name="init">
<link name="link_0"><inertial><mass value="1.0" /><origin rpy="0 0 0" xyz="0.000000 0.000000 0.000000" /><inertia ixx="1.0" ixy="0.0" ixz="0.0" iyy="1.0" iyz="0.0" izz="1.0" /></inertial><visual><origin rpy="0 0 0" xyz="0.000000 0.000000 0.000000" /><geometry><mesh filename="./clothWash/cloth/188.obj" /></geometry></visual><collision><origin rpy="0 0 0" xyz="0.000000 0.000000 0.000000" /><geometry><mesh filename="./clothWash/cloth/188.obj" /></geometry></collision></link></robot>